<fieldset>
{{#settings-row
	(t "settings.gui.integration.title")
	(t "settings.gui.integration.description")
	icon="fa-puzzle-piece"
}}
	{{#radio-btns
		name="settings-gui-integration"
		value=model.gui.integration
		content=SettingsGui.integration
		optionValuePath="id"
		classNames="radio-btns-group"
		as |radiobtn label|
	}}
		{{component
			radiobtn
			(t (concat "settings.gui.integration.values." label))
			classNames="btn btn-neutral"
		}}
	{{/radio-btns}}
{{/settings-row}}

{{#settings-row
	(t "settings.gui.minimize.title")
	(t "settings.gui.minimize.description")
	icon="fa-minus"
}}
	{{#radio-btns
		name="settings-gui-minimize"
		value=model.gui.minimize
		content=SettingsGui.minimize
		optionValuePath="id"
		classNames="radio-btns-group"
		as |radiobtn label|
	}}
		{{component
			radiobtn
			(t (concat "settings.gui.minimize.values." label))
			classNames="btn btn-neutral"
		}}
	{{/radio-btns}}
{{/settings-row}}

{{#if model.advanced}}
	{{#settings-row
		(t "settings.gui.hidebuttons.title")
		(t "settings.gui.hidebuttons.description")
		icon="fa-square"
	}}
		{{check-box
			(t "settings.gui.hidebuttons.checkbox")
			checked=model.gui.hidebuttons
		}}
	{{/settings-row}}
{{/if}}

{{#settings-row
	(t "settings.gui.minimizetotray.title")
	(t "settings.gui.minimizetotray.description")
	icon="fa-minus-square"
}}
	{{check-box
		(t "settings.gui.minimizetotray.checkbox")
		checked=model.gui.minimizetotray
		disabled=(bool-or
			(bool-not hasBothIntegrations)
			model.gui.hidebuttons
		)
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.gui.badgelabel.title")
	(t "settings.gui.badgelabel.description")
	icon="fa-tag"
	notes=(t "settings.gui.badgelabel.notes")
	requires=(t "settings.gui.badgelabel.requires")
}}
	{{check-box
		(t "settings.gui.badgelabel.checkbox")
		checked=model.notification.badgelabel
		disabled=(bool-or
			(bool-not (bool-or hasTaskBarIntegration hasBothIntegrations))
			(bool-not model.notification.enabled)
		)
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.gui.focusrefresh.title")
	(t "settings.gui.focusrefresh.description")
	icon="fa-refresh"
}}
	{{#drop-down
		value=model.gui.focusrefresh
		content=SettingsGui.focusrefresh
		optionValuePath="value"
		as |item|
	}}
		<li class="{{if item.selected 'selected'}}" {{action item.action item bubbles=false}}>
			{{t (concat "settings.gui.focusrefresh.values." item.label)}}
		</li>
	{{/drop-down}}
{{/settings-row}}
</fieldset>