<fieldset>
{{#settings-row
	(t "settings.chat.provider.title")
	(t "settings.chat.provider.description")
	icon="fa-twitch"
	notes=(if (is-equal model.chat.provider "browser")
		(t "settings.chat.provider.notes-browser")
	)
}}
	{{#drop-down
		value=model.chat.provider
		content=providersDropDown
		as |item|
	}}
		<li class="{{if item.selected 'selected'}}" {{action item.action item bubbles=false}}>
			{{t (concat "settings.chat.provider.providers." item.value ".label")}}
		</li>
	{{/drop-down}}
{{/settings-row}}

{{#each providerAttributes as |attributes provider|}}
	{{#each attributes as |attribute|}}
		{{#settings-row
			(t (concat "settings.chat.provider.providers." provider ".attributes." attribute.name ".title"))
			(t (concat "settings.chat.provider.providers." provider ".attributes." attribute.name ".description"))
			icon=attribute.options.icon
			substitutions=(if attribute.options.isArgs userArgsSubstitutions)
			isVisible=(is-equal model.chat.provider provider)
		}}
			{{#if (is-equal attribute.type "string")}}
				{{#if attribute.options.isFile}}
					{{file-select
						value=(mut (get (get model.chat.providers provider) attribute.name))
						inputClass="form-control"
						placeholder=(if (is-equal provider "custom")
							(t "settings.chat.provider.file-placeholder")
							(get (get chatConfig provider) attribute.name)
						)
					}}
				{{else}}
					{{input
						type="text"
						classNames="col-xs-12"
						value=(mut (get (get model.chat.providers provider) attribute.name))
						placeholder=(if attribute.options.isArgs
							(t "settings.chat.provider.params-placeholder")
						)
					}}
				{{/if}}
			{{else if (is-equal attribute.type "boolean")}}
				{{check-box
					(t (concat "settings.chat.provider.providers." provider ".attributes." attribute.name ".checkbox"))
					checked=(mut (get (get model.chat.providers provider) attribute.name))
				}}
			{{/if}}
		{{/settings-row}}
	{{/each}}
{{/each}}
</fieldset>

<fieldset>
{{#settings-row
	(t "settings.chat.chat-open.title")
	(t "settings.chat.chat-open.description")
	icon="fa-comment"
}}
	<div>
		{{check-box
			(t "settings.chat.chat-open.checkbox")
			checked=model.streams.chat_open
		}}
	</div>
	<div>
		{{check-box
			(t "settings.chat.chat-open.checkbox-context")
			checked=model.streams.chat_open_context
			disabled=(bool-not model.streams.chat_open)
		}}
	</div>
{{/settings-row}}

{{#settings-row
	(t "settings.chat.twitchemotes.title")
	(t "settings.chat.twitchemotes.description")
	icon="fa-smile-o"
}}
	{{check-box
		(t "settings.chat.twitchemotes.checkbox")
		checked=model.streams.twitchemotes
	}}
{{/settings-row}}
</fieldset>