<nav>
	<h3>{{t "mainmenu.browse.header"}}</h3>
	<ul>
		<li>{{#link-to "featured"}}{{t "mainmenu.browse.featured"}}{{/link-to}}</li>
		<li>{{#link-to "games"}}{{t "mainmenu.browse.games"}}{{/link-to}}</li>
		<li>{{#link-to "communities"}}{{t "mainmenu.browse.communities"}}{{/link-to}}</li>
		<li>{{#link-to "streams"}}{{t "mainmenu.browse.streams"}}{{/link-to}}</li>
	</ul>
	<h3>{{t "mainmenu.my.header"}}</h3>
	<ul>
		<li>{{#link-to "user.subscriptions"}}{{t "mainmenu.my.subscriptions"}}{{/link-to}}</li>
		<li>{{#link-to "user.followedStreams"}}{{t "mainmenu.my.live-streams"}}{{/link-to}}</li>
		<li>{{#link-to "user.hostedStreams"}}{{t "mainmenu.my.hosted-streams"}}{{/link-to}}</li>
		<li>{{#link-to "user.followedChannels"}}{{t "mainmenu.my.channels"}}{{/link-to}}</li>
		<li>{{#link-to "user.followedGames"}}{{t "mainmenu.my.games"}}{{/link-to}}</li>
	</ul>
	<h3>{{t "mainmenu.misc.header"}}</h3>
	<ul>
		<li>{{#link-to "settings"}}{{t "mainmenu.misc.settings"}}{{/link-to}}</li>
		<li>{{#link-to "about"}}{{t "mainmenu.misc.about"}}{{/link-to}}</li>
	</ul>
</nav>